/*@import "keep-react/css";*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  color: #000;
  font-size: 15px;
}


@layer components {
  .navNotActive {
    @apply font-medium text-black transition-all duration-300 hover:text-sky-400 capitalize
  }
  .navActive {
    @apply font-medium text-sky-400 capitalize
  }
  .inputFiled{
    @apply h-10 mt-1 rounded px-4 py-5 w-full md:w-[80%] block bg-gray-50 outline-0 border-2 focus:border-sky-300 transition-all duration-300 ease-in-out
  }
  .my-transition{
    transition: all .3s ease-in-out;
  }
  .btn{
    @apply text-center bg-blue-600 text-white py-3 px-4 outline-0 rounded-lg capitalize text-base font-bold hover:bg-transparent hover:text-blue-600 border-[1px] border-transparent hover:border-blue-600 transition-all duration-300 ease-in-out
  }
  .btnBG{
    @apply text-center hover:bg-blue-600 hover:text-white py-3 px-4 outline-0 rounded-lg capitalize text-base font-bold bg-transparent text-blue-600 border-[1px] hover:border-transparent border-blue-600 transition-all duration-300 ease-in-out
  }
.inputLabel{
  @apply capitalize text-base font-medium text-gray-600
}

}



